{% extends 'main.html' %}
{% block content %}

<!--navbar-->
<hr>



<div class="container mt-4">
         <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajout_commande' %}">Ajouter une commande</a>
        <h2>Liste des Commandes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Status</th>
                    <th>Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.client }}</td>
                        <td>{{ commande.status }}</td>
                        <td>{{ commande.date_creation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}