{% extends 'main.html' %}
{% block content %}

<!--navbar-->
<hr>



<div class="container mt-4">
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajout_client' %}">créer un client</a>
        <h2>Liste des Clients</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.nom }}</td>
                        <td>{{ client.telephone }}</td>
                        <td>{{ client.date_creation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}